:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-grey: hsl(212, 45%, 89%);
  --clr-greyish-blue: hsl(220, 15%, 55%);
  --clr-dark-blue: hsl(218, 44%, 22%);
}

* {
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--clr-light-grey);
}

body {
  font-family: 'Outfit', sans-serif;
}