:root {
  --clr-slate-300: hsl(212, 45%, 89%);
  --clr-slate-500: hsl(216, 15%, 48%);
  --clr-slate-900: hsl(218, 44%, 22%);
  --clr-white: hsl(0, 0%, 100%);

  --space-500: 2.5rem;
  --space-300: 1.5rem;
  --space-200: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-slate-300);
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  color: var(--clr-slate-900);
  line-height: 1.2;
}

p {
  font-size: 15px;
  font-weight: 300;
  color: var(--clr-slate-500);
  line-height: 1.4;
}

.card {
  background-color: var(--clr-white);
  width: 100%;
  max-width: 320px;
  height: 499px;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 1rem;
}